@import "bootstrap.less";

html, body {
    height: 100%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.ng-cloak {
}

.main_container {
    display: table; // Needed
    width: 100%;
    height: 100%; // Needed
}
.ro {
    display: table-row; // Needed
}
.sidebar,
.cener {
    display: table-cell; // Needed
}
.sidebar {
    border-left: 1px #293037 solid;
    width: 320px;
    background: #fff url('../images/dark-background-patt.png') repeat;
}
.cener {
    text-align: center;
    background: #fff url('../images/background-patt.png') repeat;
}

.sidebar #players {
    height: 240px;
}

.sidebar .player {
    padding: 14px 10px 0 10px;
}

.sidebar .player img {
    float: left;
    margin-right: 20px;
    width: 60px;
    height: 48px;
}

h2 {
    color: #fff;
    font: 15pt ariel;
}


.sidebar .player .player-name {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    color: #fff;
    font: 15pt ariel;
}

.sidebar .player .player-name span {
    color: #ff0000;
    font: 11pt ariel;
    margin-left: 10px;
}

.sidebar .player span {
    color: #8596a7;
    font: 11pt ariel;
    margin-right: 20px;
}

#chat .messages {
    width: 300px;
    margin: 20px 0 0 10px;
    padding: 4px;
    height: 430px;
    background-image: url('../images/chat-back.png');
    background-repeat: repeat;
    overflow-y: scroll;
}

#chat .messages p {
    color: #fff;
    padding: 0;
    margin: 0;
}

#chat .messages p span {
    color: #8899aa;
}

#chat .message {
    background-image: url('../images/chat-back.png');
    background-repeat: repeat;
    width: 300px;
    margin: 0 0 0 10px;
    height: 30px;
    border-top: 1px #293037 solid;
    padding-top: 6px;
}

#chat .message span {
    color: #8596a7;
    font: 14pt sans-serif;
    padding-left: 10px;
}

#test {
position: relative;
    width: 690px;
    height: 600px;
    margin: 0 auto;
}

    
#game {
    position: relative;
    background-color: #0f0;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.playingCards {
}

#playerThree {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: 130px;
    top: -20px; 
    width: 440px;
    text-align: center;
    margin: 0 auto;
}

#playerThreeCards {
    position: relative;
    width: 320px;
    height: 130px;
    margin: 0 auto;
}

#playerTwo{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: 410px;
    top: 260px; 
    width: 440px;
    text-align: center;
    margin: 0 auto;
}

#playerTwoCards {
    position: relative;
    width: 320px;
    height: 130px;
    margin: 0 auto;
}

#playerOne {
    position: absolute;
    left: 130px;
    top: 530px; 
    width: 440px;
    text-align: center;
    margin: 0 auto;
}

#playerOneCards {
    position: relative;
    width: 320px;
    height: 130px;
    margin: 0 auto;
}

#playerFour {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    left: -160px;
    top: 260px; 
    width: 440px;
    text-align: center;
    margin: 0 auto;
}

#playerFourCards {
    position: relative;
    width: 320px;
    height: 130px;
    margin: 0 auto;
}

.player-card img {
   -webkit-transition: all 0.15s ease-in-out;
   -moz-transition: all 0.15s ease-in-out;
   -o-transition: all 0.15s ease-in-out;
   -ms-transition: all 0.15s ease-in-out;
   transition: all 0.15s ease-in-out;
}

.player-card:hover img {
   -webkit-transform: translateY(-20px);
   -moz-transform: translateY(-20px);
   -o-transform: translateY(-20px);
   -ms-transform: translateY(-20px);
   transform: translateY(-20px);
}

.card {
    position: absolute;
}

.playingCards :nth-child(1)  { left: 0; }
.playingCards :nth-child(2)  { left: 1.3em; }
.playingCards :nth-child(3)  { left: 2.6em; }
.playingCards :nth-child(4)  { left: 3.9em; }
.playingCards :nth-child(5)  { left: 5.2em; }
.playingCards :nth-child(6)  { left: 6.5em; }
.playingCards :nth-child(7)  { left: 7.8em; }
.playingCards :nth-child(8)  { left: 9.1em; }
.playingCards :nth-child(9)  { left: 10.4em; }
.playingCards :nth-child(10) { left: 11.7em; }
.playingCards :nth-child(11) { left: 13.0em; }
.playingCards :nth-child(12) { left: 14.3em; }
.playingCards :nth-child(13) { left: 15.6em; }
.playingCards :nth-child(14) { left: 16.9em; }
.playingCards :nth-child(15) { left: 18.2em; }
.playingCards :nth-child(16) { left: 19.5em; }
.playingCards :nth-child(17) { left: 20.8em; }
.playingCards :nth-child(18) { left: 22.1em; }
.playingCards :nth-child(19) { left: 23.4em; }
.playingCards :nth-child(20) { left: 24.7em; }
.playingCards :nth-child(21) { left: 26.0em; }
.playingCards :nth-child(22) { left: 27.3em; }
.playingCards :nth-child(23) { left: 28.6em; }
.playingCards :nth-child(24) { left: 29.9em; }

#ready-view {
    position: absolute;
    left: 270px;
    top: 250px;
}

#deck {
    left: 250px;
    top: 250px;
}
#stack {
    left: 370px;
    top: 250px;
}

#seatCName {
    font: 9pt sans-serif;
    text-align: center;
    position: absolute;
    left: 140px;
    top: 120px;
    color: #fff;
    width: 400px;
    height: 30px;
}

#seatBName {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font: 9pt sans-serif;
    text-align: center;
    position: absolute;
    left: 350px;
    top: 330px;
    color: #fff;
    width: 400px;
    height: 30px;
}

#seatAName {
    position: absolute;
    font: 9pt sans-serif;
    text-align: center;
    position: absolute;
    left: 140px;
    top: 500px;
    color: #fff;
    width: 400px;
    height: 30px;
}

#seatDName {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font: 9pt sans-serif;
    text-align: center;
    position: absolute;
    left: -60px;
    top: 290px;
    color: #fff;
    width: 400px;
    height: 30px;
}

#seatAActive {
    position: absolute;
    left: 325px;
    top: 470px;
}

#seatBActive {
    position: absolute;
    left: 505px;
    top: 330px;
}

#seatCActive {
    position: absolute;
    left: 325px;
    top: 150px;
}

#seatDActive {
    position: absolute;
    left: 165px;
    top: 290px;
}

#seatAName span, #seatBName span, #seatCName span, #seatDName span {
    padding-left: 10px;
}

#seatAName img, #seatBImage img, #seatCImage img, #seatDImage img {
    vertical-align: middle;
}

.input-mysize { width: 280px }



#dark{
	background-color:#333;
	border:1px solid #000;
	padding:10px;
	margin-top:20px;}
	
#light{
	background-color:#FFF;
	border:1px solid #dedede;
	padding:10px;
	margin-top:20px;}	
	
.button, .button:visited {
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}
 
.button:hover							{ background-color: #111; color: #fff; text-decoration: none;}
.button:active							{ top: 1px; }
.small.button, .small.button:visited 			{ font-size: 11px}
.button, .button:visited,
.medium.button, .medium.button:visited 		{ font-size: 13px; 
                                              font-weight: bold; 
                                              line-height: 1; 
                                              text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
                                              }
                                              
.large.button, .large.button:visited 			{ font-size: 14px; 
                                                  padding: 8px 14px 9px; }
                                                  
.super.button, .super.button:visited 			{ font-size: 34px; 
                                                  padding: 8px 14px 9px; }

.pink.button, .magenta.button:visited		{ background-color: #e22092; }
.pink.button:hover							{ background-color: #c81e82; }
.green.button, .green.button:visited		{ background-color: #91bd09; }
.green.button:hover						    { background-color: #749a02; }
.red.button, .red.button:visited			{ background-color: #e62727; }
.red.button:hover							{ background-color: #cf2525; }
.orange.button, .orange.button:visited		{ background-color: #ff5c00; }
.orange.button:hover						{ background-color: #d45500; }
.blue.button, .blue.button:visited		    { background-color: #2981e4; }
.blue.button:hover							{ background-color: #2575cf; }
.yellow.button, .yellow.button:visited		{ background-color: #ffb515; }
.yellow.button:hover						{ background-color: #fc9200; }

#suit-selection {
    text-align: center;
}

#suit-selection img {
    float: left;
    padding: 20px;
}

#seatWait {
    position: absolute;
    top: 460px;
    left: 370px;
}

