<div ng-controller="gameController as controller" class="main_container">
    <div class="ro">
        <div class="cener">

            <div id="test">&nbsp;
                <div id="game-board" ng-show="showGame">
                
                    <div id="deck" ng-dblclick="controller.pick()" class="card">
                        <img src="images/back.png"/>
                    </div>
                    <div id="stack" class="card">
                        <img src="images/{{topCard}}.png"/>
                    </div>

                    <div id="seatAActive" ng-show="players[0].active">
                        <img width="20" height="20" src="images/active.png"/>
                    </div>

                    <div id="seatWait" ng-show="players[0].wait">
                        <a id="ready-button" class="large button red" ng-click="controller.wait();">Wait</a>
                    </div>
                    <div id="seatAName">
                        <img width="20" height="20" src="images/profile.png"/>
                        <span>{{ players[0].name }}</span>
                    </div>
                    <div id="playerOne" class="playingCards">
                        <div id="playerOneCards" style="width: {{cardWidth(range(players[0].count))}}px;">
                            <div ng-repeat="card in players[0].cards track by $index" class="player-card card">
                                <img ng-dblclick="controller.selectedCard($index)" src="images/{{card.name}}.png"/>
                            </div>
                        </div>
                    </div>
                    <div id="seatBActive" ng-show="players[1].active">
                        <img width="20" height="20" src="images/active.png"/>
                    </div>
                    <div id="seatBName" ng-show="players[1].name">
                        <img width="20" height="20" src="images/profile.png"/>
                        <span>{{ players[1].name }}</span>
                    </div>
                    <div id="playerTwo" class="playingCards">
                        <div id="playerTwoCards" style="width: {{cardWidth(range(players[1].count))}}px;">
                            <div ng-repeat="card in range(players[1].count) track by $index" class="card">
                                <img src="images/back.png"/>
                            </div>
                        </div>
                    </div>
                    <div id="seatCActive" ng-show="players[2].active">
                        <img width="20" height="20" src="images/active.png"/>
                    </div>
                    <div id="seatCName" ng-show="players[2].name">
                        <img width="20" height="20" src="images/profile.png"/>
                        <span>{{ players[2].name }}</span>
                    </div>
                    <div id="playerThree" class="playingCards">
                        <div id="playerThreeCards" style="width: {{cardWidth(range(players[2].count))}}px;">
                            <div ng-repeat="card in range(players[2].count) track by $index" class="card">
                                <img src="images/back.png"/>
                            </div>
                        </div>
                    </div>
                    <div id="seatDActive" ng-show="players[3].active">
                        <img width="20" height="20" src="images/active.png"/>
                    </div>
                    <div id="seatDName" ng-show="players[3].name">
                        <img width="20" height="20" src="images/profile.png"/>
                        <span>{{ players[3].name }}</span>
                    </div>
                    <div id="playerFour" class="playingCards">
                        <div id="playerFourCards" style="width: {{cardWidth(range(players[3].count))}}px;">
                            <div ng-repeat="card in range(players[3].count) track by $index" class="card">
                                <img src="images/back.png"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="ready-view" ng-show="showFinishButton">
                    <h2>{{ winner }} wins!</h2>
                    <a id="ready-button" class="large button green" ng-click="controller.ready();">Play Again?</a>
                </div>
                <div id="ready-view" ng-show="showReadyButton">
                    <a id="ready-button" class="large button red" ng-click="controller.ready();">Ready?</a>
                </div>
            </div>

        </div>

        <div class="sidebar">
            <ng:include src="'/views/sidebar.html'"></ng:include>
        </div>

    </div>
</div>
